@use "../../styles/partials/glow" as *;
@use "../../styles/partials/sidebar" as *;

.servers {
  &__container {
    background-color: black;
    width: 15%;
    color: #38a83a;
    @include glow;
  }
  &__list {
    text-decoration: none;
    list-style-type: none;
  }
  &__item {
    padding: 0.5rem;
  }
}
