
@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-SemiBold.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-Light.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-Bold.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-Regular.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-Medium.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../../Assets/Fonts/FiraCode-Light.woff2") format("woff2"),
    url("../../Assets/Fonts/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
