@use "../../styles/partials/glow" as *;
@use "../../styles/partials/sidebar" as *;

.list__container {
  &--open {
    display: block;
    background-color: black;
    width: 100%;
  }
  &--closed {
    display: none;
  }
}

.skill {
  &__container {
    display: flex;
    color: #38a83a;
    width: 15%;
    @include glow;
  }
  &__list {
    list-style-type: none;
  }
}

.sidebar__button {
  @include sidebar__button;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
