@use "../../styles/partials/glow" as *;

.skill {
  &__container {
    background-color: black;
    width: 15%;
    color: #38a83a;
    @include glow;
  }
  &__list {
    list-style-type: none;
  }
}
