.login {
  &__container {
  }
  &__card {
    display: flex;
    flex-direction: column;
  }
}

.game {
  &__container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-size: cover;
  }
}
